:root {
        --ic-brand-primary-darkened-5: #046536;
--ic-brand-primary-darkened-10: #046033;
--ic-brand-primary-darkened-15: #045B30;
--ic-brand-primary-lightened-5: #107141;
--ic-brand-primary-lightened-10: #1D784B;
--ic-brand-primary-lightened-15: #298055;
--ic-brand-button--primary-bgd-darkened-5: #046536;
--ic-brand-button--primary-bgd-darkened-15: #045B30;
--ic-brand-button--secondary-bgd-darkened-5: #832A3B;
--ic-brand-button--secondary-bgd-darkened-15: #752635;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-30: #4C4C4C;
--ic-link-color-darkened-10: #046033;
--ic-link-color-lightened-10: #1D784B;
--ic-brand-primary: #046A38;
--ic-brand-font-color-dark: #000000;
--ic-link-color: #046A38;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #892c3e;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #046A38;
--ic-brand-global-nav-ic-icon-svg-fill: #abacae;
--ic-brand-global-nav-ic-icon-svg-fill--active: #009F4D;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #93272C;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #892c3e;
--ic-brand-global-nav-menu-item__badge-text: #ffffff;
--ic-brand-global-nav-logo-bgd: #ffffff;
--ic-brand-header-image: url('https://instructure-uploads.s3.amazonaws.com/account_130960000000000001/attachments/65875/NOVA140x140.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1.0;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_130960000000000001/attachments/65877/favicon.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads.s3.amazonaws.com/account_130960000000000001/attachments/65876/NOVA_H_2c_transparent.png');
--ic-brand-Login-body-bgd-color: #F8F8F8;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #2D3B45;
--ic-brand-Login-logo: url('https://instructure-uploads.s3.amazonaws.com/account_130960000000000001/attachments/62984/logo.png');
--ic-brand-Login-Content-bgd-color: #205798;
--ic-brand-Login-Content-border-color: #e2edf9;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: #205798;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: #fcfcfc;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #ffffff;
--ic-brand-Login-footer-link-color: #efefef;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #ffffff;
      }